//*-----------------Font Family----------------*//
@font-face {
    font-family: "Arial";
    font-style: normal;
    src: url(./resources/fonts/Verdana.ttf); /*if IE */
}
/*---------------------css for text shaddow hide--------------*/
#txtSearch .x-toolbar .x-field-textarea .x-component-outer, .x-toolbar .x-field-text .x-component-outer, .x-toolbar .x-field-number .x-component-outer, .x-toolbar .x-field-search .x-component-outer{
 box-shadow:none !important;
}
/*-------------------------hide scrol bar css----------*/
.x-scroll-bar-y.active {
    width: 0px; /*CHANGE: replace width: 6px;*/
}
.txt_enlarge{
    border: 2px solid #929FBD;
    border-radius: 0.3em;
    height: 30px !important;
    color: #3C99FF !important;
    border-right: 0px;
    position:absolute;
    right:0px;
    top:0px;
    background: #fff !imporatent;
    z-index: 1;
    font-family: 'Arial';
}
.txt_enlarge:focus{
    width: 300px;
    background: #fff;
    
}
.img_size{
    height: 25px;
    position: absolute;
    width: 22px;
    border-radius: 0.3em;
    margin-top: -3px;
}
.setting_span{
    padding: 25px;
    color:#3C99FF;
    font-family: 'Arial';
    font-size: 16px;
    
}
#txtSearch .x-field{
    min-height: 1.5em; 
}

#txtSearch .x-clear-icon{
    background:none !important;
}
.x-layout-card-item{
    background:#fff;
}

//* Recent button tap css***//


#recentbooklist .x-webkit .x-anchor.x-anchor-top{
    background-color: #fff;
}
.x-panel.x-floating, .x-msgbox, .x-form.x-floating{
    padding:0px;
}

/* Key fonts */
/* @import url('//fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic'); */
@font-face {
    font-family: GentiumPlus;
    src: url(GentiumPlus-R.woff);
}
@font-face {
    font-family: GentiumPlus;
    font-style: italic;
    src: url(GentiumPlus-I.woff);
}
@font-face {
    font-family: DropCap;
    src: url(TypographerWoodcut01.ttf);
}



/* global size and font */
body {
    font-family: georgia,garamond,serif;
    font-size: 16pt;
    
}


/* front matter */
.titlepage {
    text-align: center;
    margin-bottom: 10em;
    font-family: GentiumPlus, georgia,garamond,serif;
}
.titlepage .cover {
    width: 80%;
    max-width: 30em;
    margin:0;
}
.titlepage .title {
    font-style:normal;
    font-weight: bold;
    margin: 1em; margin-bottom: .5em;
    font-size: 300%;
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.37);
}
.titlepage .subtitle {
    font-style:normal;
    font-weight: normal;
    font-variant:small-caps;
    margin: 2em;
}
.titlepage .author {
    font-style:italic;
    font-weight: normal;
    margin-bottom: 3em;
    color: darkgreen;
}
.titlepage .logo {
    width: 15%; max-height:12em; opacity: 0.9;
    margin-top:8em; margin-bottom: 1em;
}
.titlepage .logo-label {
    margin-top:0;
}

section.toc {margin-left: 1em;}
.toc ol, ol.toc {
    margin-left: 2em;
    line-height: 1.8em;
    font-variant: small-caps;
}

/* divider - TODO: add some more options */
hr {
    border : 0;
    height : 35px;
    background : url(hr.svg) 50% 0 no-repeat;
    margin : 1em 0;
}


/* blocks */
p, aside, .continued {
    padding-top:0;
    margin: 1em; margin-left: 2em;
    line-height: 1.25em;
    text-align:justify;
    text-justify: distribute;
    position: relative;
    /*text-indent: .25em;*/
}
p::before {
    content: attr(id);
    font-size: .75em;
    color:gray;
    vertical-align:top;
    /*float: left;*/
    position: absolute;
    top: 0; left: -2.5em;
    font-style: normal;
}
.dropcap:first-letter, .abd section.content p:first-child:first-letter {
    float: left; color: #903;
    font-size: 55pt; line-height: 60px; padding-top: 0px; padding-right: 8px;  margin-top:9pt;
    color: DarkOliveGreen;
    font-family: DropCap, georgia,garamond,serif;
}
.dropcap-plain:first-letter, .shoghi section.content h3.subhead p:first-letter {
    float: left; color: #903;
    font-size: 52pt; line-height: 43px; padding-top: 0px; padding-right: 5px;  margin-top:0pt;
    color: DarkOliveGreen;
    font-family: GentiumPlus, georgia,garamond,serif;
}

p.dropcap, p.dropcap-plain {
    text-indent: 0;
}

/* in case we want an id but no content */
.nonum:before {content:''}
/* footnote and footnote reference */
a[data-fnid]:before {
    content: '(' attr(data-fnid) ')'; font-size: 9pt; color: #667666;
    position: relative; top: -.6em;
}
a[data-fnid]:hover {
    cursor:pointer;
}
aside.fn, aside[data-fnid] {
    font-size: 80%;
    margin-bottom: 1em;
    display: none;
}
aside.fn:before {
    content: attr(id);  margin-right: 1em;
    font-style: italic; font-size: 80%; color: gray;
}
aside[data-fnid]:before {
    content: attr(data-fnid);  margin-right: 1em;
    font-style: italic; font-size: 80%; color: gray;
}
.preamble {
    font-style:italic;
    margin-bottom:1em;
}
.salutation {
    /*font-style: italic;*/
}
.signature {
    white-space: pre-line;
}
.blockquote {
    padding-left:2em; padding-right: 3em;
}
.sitalcent {
    font-style: italic;
    padding-left:3em;
}
.editor-note {
    color: darkgray;
    font-family: "Book Antiqua", Palatino, serif;
    font-style: italic;
}
.verse {white-space: pre;}

/* section header and sub-headers */

section {
    margin-bottom: 10em;
}

.subhead, .header {
    margin: 1em;
    margin-top:2em;
    color: DarkOliveGreen;
    font-family: GentiumPlus,georgia,garamond,serif;
}
[data-title]:before {
    content: attr(data-title);
}
h2[data-title]:before {
    font-variant: small-caps;
    font-size: 2em;
}
h3[data-title]:before {
    font-variant: small-caps;
    font-size: 1.5em;
}
.subhead .date {
    font-size: 1.4em;
    text-align:center;
    font-style:italic;
    font-weight:normal;
    margin: 1em;
}
.subhead .desc, .subhead .venue{
    font-size: .9em;
    text-align:center;
    font-style:italic;
    font-weight:normal;
}
.subhead .notes {
    font-size: .8em;
    text-align:center;
    font-style:normal;
    margin:2em;
    font-variant:small-caps;
    font-weight:normal;
}

/* text elements */
/* remove displayed quotes from <q> since they do not copy/paste correctly */
q:before,q:after, blockquote:before, blockquote:after {content:''}
q, blockquote {color: #373B17; padding:.25em;}
blockquote, aside {margin-left: 4em;}
p .baha, p .bab, p .abd, p .sacred {
    font-style: italic; font-family: GentiumPlus, georgia,garamond,serif;
    font-size: 1.1em;
}
p .baha {color: maroon;}
p .bab {color: darkgreen; }
p .abd {color: #306383; }

p span[data-pg]:before {
    content: 'pg ' attr(data-pg); color: #989E98;
    padding: 0; padding-left:3px; padding-right:3px;
    font-style: italic;
    float: right; margin-right: -4em;
    font-size:8pt;
    font-style: normal;
    position: absolute; right: 0;
}

ul {  list-style-type: none; margin-left:2em;}




/* Print and Size adjustments */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 490px) {
    p::before {
        font-size: 1em;
        color:black;
        left: -1.5em;
    }
    .titlepage .title {
        font-size: 200%;
    }
}


@media only print {
    p {
        margin-right: 4em;
        font-size: 12pt !important;
    }
    p::before {
        color:black;
    }
    .editor-note {
        color: #4D4D4D;
    }
    aside.fn, aside[data-fnid] {display: block;}
    section, h2.author { display: block; page-break-after: always; }
    .titlepage .cover {
        max-width: 60%;
        margin:0;
        -webkit-filter: contrast(100%) brightness(120%);
    }
    .titlepage .cover::after {
        content: 'Textbook Printing';
        font-size: 200%;
        display: block;
        text-align: center;
        font-style: italic;
        color: gray;
    }
    .titlepage .copyright {margin-bottom:20em;}
    h3.subtitle { page-break-after: avoid; }
    section:last-child {page-break-after: avoid;}
}
.shoghi{
    padding: 0 40px;
}



