.library_icon {
    background-image: url('../images/Library.png');
    background-size: 72px;
    width: 72px !important;
    height: 72px !important;
    background-color: #f7f9f9;
    border: 0;
    /*border-radius: 2.4em;*/
    margin-bottom: 5px;
}

.library_icon.x-button-pressing {
    background-image: url('../images/Library.png');
    background-size: 72px;
    width: 72px !important;
    height: 72px !important;
    background-color: #f7f9f9;
    border: 0;
    /*border-radius: 2.4em;*/
    margin-bottom: 5px;
    box-shadow: 0px 5px 20px #999;
}

.study_projects_icon {
    background-image: url('../images/Study-Projects.png');
    background-size: 72px;
    width: 72px !important;
    height: 72px !important;
    background-color: #f7f9f9;
    border: 0;
    /*border-radius: 2.4em;*/
    margin-bottom: 5px;
}

.study_projects_icon.x-button-pressing {
    background-image: url('../images/Study-Projects.png');
    background-size: 72px;
    width: 72px !important;
    height: 72px !important;
    background-color: #f7f9f9;
    border: 0;
    /*border-radius: 2.4em;*/
    margin-bottom: 5px;
    box-shadow: 0px 5px 20px #999;
}

.user_settings_icon {
    background-image: url('../images/settings.png');
    background-size: 72px;
    width: 72px !important;
    height: 72px !important;
    background-color: #f7f9f9;
    border: 0;
    border-radius: 2.4em;
    margin-bottom: 5px;
}

.user_settings_icon.x-button-pressing {
    background-image: url('../images/settings.png');
    background-size: 72px;
    width: 72px !important;
    height: 72px !important;
    background-color: #f7f9f9;
    border: 0;
    border-radius: 2.4em;
    margin-bottom: 5px;
    box-shadow: 0px 5px 20px #999;
}